<a href="https://colab.research.google.com/github/rafaelrpedrosa/MachineLearning/blob/main/BostonHousing_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn import metrics

In [42]:
boston = load_boston()

In [43]:
df = pd.DataFrame(boston.data)
df.columns = boston.feature_names
df['PRICE'] = boston.target
x = df.drop('PRICE', axis=1)
y = df.PRICE

In [44]:
f = 0.3 # fracao de elementos no conjunto de treinamento
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=f, random_state=2)

In [45]:
regr = LinearRegression()
regr.fit(x_train, y_train)
pred = regr.predict(x_test)

In [46]:
print('MAE:', metrics.mean_absolute_error(y_test, pred))
print('MSE:', metrics.mean_squared_error(y_test, pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, pred)))

MAE: 3.392954782181807
MSE: 23.038812866283692
RMSE: 4.799876338644954

In [47]:
coefficients = pd.DataFrame(regr.coef_,x.columns)
coefficients.columns = ['coefficients']
coefficients

         coefficients
CRIM        -0.093298
ZN           0.031137
INDUS       -0.018175
CHAS         3.195558
NOX        -15.104293
RM           3.501021
AGE          0.018977
DIS         -1.265526
RAD          0.322156
TAX         -0.010946
PTRATIO     -1.089635
B            0.012540
LSTAT       -0.607619